<%= form_for(@book_page, url: book_book_page_path(@book, @book_page), html: { method: :put }) do |f| %>
  <%= f.label 'Name' %><br>
  <%= f.text_field :name %><br>

  <%= f.label 'Order' %><br>
  <%= f.text_area :order %><br>

  <%= f.submit "SUBMIT", :class => 'btn-special' %>
<% end %>
<br />
<a href="<%= book_book_page_path(@book, @book_page) %>" class="btn-default">CANCEL</a>
