<%= form_for @book do |f| %>
  <%= f.label 'Name' %><br>
  <%= f.text_field :name %><br>

  <%= f.label 'Description' %><br>
  <%= f.text_area :description %><br>

  <%= f.submit "SUBMIT", :class => 'btn btn-primary' %>
<% end %>
<br />
<a href="<%= book_path(@book) %>" class="btn btn-info">CANCEL</a>
