<h1><%= @book.name %></h1>
<br />
<a href="<%= books_path() %>" class="btn-default">Back to BOOKS</a>
<br />
<%= @book.description %>
<br />
<a href="<%= edit_book_path(@book) %>" class="btn-special">EDIT</a>
<%= link_to 'DELETE', book_path(@book),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn-danger" %>
<br />
<a href="<%= book_book_pages_path(@book) %>" class="btn-default">PAGES</a>
<br />
<a href="<%= book_layers_path(@book) %>" class="btn-default">LAYERS</a>
<hr />
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item waves-effect waves-light">
    <a class="nav-link" id="contents-tab" data-toggle="tab" href="#contents" role="tab" aria-controls="contents" aria-selected="false">Contents</a>
  </li>
  <li class="nav-item waves-effect waves-light">
    <a class="nav-link" id="output-tab" data-toggle="tab" href="#output" role="tab" aria-controls="output" aria-selected="true">JS Output</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active show" id="contents" role="tabpanel" aria-labelledby="contents-tab">
    CONTENTS HERE
  </div>
  <div class="tab-pane fade" id="output" role="tabpanel" aria-labelledby="output-tab">
    <a href="<%= page_contents_book_path(@book, format: :js) %>" class="btn-default">DOWNLOAD LINK</a>
    <br />
    <textarea readonly wrap="hard" rows="100" style="width:100%;">
    var current = 0;

    var pages = <%= @book.book_pages_serialized_as_json.html_safe %>;

    var layers = <%= @book.layers_serialized_as_json.html_safe %>;
    </textarea>
  </div>
</div>
