<a href="<%= books_path() %>" class="btn btn-info">&larr; Back to BOOKS</a>
<h1><%= @book.name %></h1>
<%= link_to 'DELETE', book_path(@book),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn btn-danger float-right" %>
<a href="<%= edit_book_path(@book) %>" class="btn btn-secondary float-right">EDIT</a>
<table class="table table-striped table-bordered">
  <tr>
    <th class="fit text-right">DESCRIPTION</th>
    <td><%= @book.description %></td>
  </tr>
  <tr>
    <th class="fit text-right">CHILDREN</th>
    <td>
      <a href="<%= book_book_pages_path(@book) %>" class="btn btn-info">PAGES</a>
      <a href="<%= book_layers_path(@book) %>" class="btn btn-info">LAYERS</a>
    </td>
  </tr>
</table>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item waves-effect waves-light">
    <a class="nav-link active" id="contents-tab" data-toggle="tab" href="#contents" role="tab" aria-controls="contents" aria-selected="false">Contents</a>
  </li>
  <li class="nav-item waves-effect waves-light">
    <a class="nav-link" id="unused-layers-tab" data-toggle="tab" href="#unused-layers" role="tab" aria-controls="unused-layers" aria-selected="false">Unused Layers</a>
  </li>
  <li class="nav-item waves-effect waves-light">
    <a class="nav-link" id="output-tab" data-toggle="tab" href="#output" role="tab" aria-controls="output" aria-selected="true">JS Output</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active show" id="contents" role="tabpanel" aria-labelledby="contents-tab">
    <ol>
      <% @book.book_pages.each do |page| %>
        <%= render partial: "page", object: page, locals: {book: @book} %>
      <% end %>
    </ol>
  </div>
  <div class="tab-pane fade" id="unused-layers" role="tabpanel" aria-labelledby="unused-layers-tab">
    <ul>
      <% @book.layers.unused.each do |layer| %>
          <a href="<%= book_layer_path(@book, layer) %>" class="btn btn-info">
            <%= layer.name %>
          </a>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane fade" id="output" role="tabpanel" aria-labelledby="output-tab">
    <a href="<%= page_contents_book_path(@book, format: :js) %>" class="btn btn-info">DOWNLOAD LINK</a>
    <textarea readonly wrap="hard" rows="100" style="width:100%;">
<%= render partial: "page_contents", object: @book %>
    </textarea>
  </div>
</div>
