<h1>Layers for <%= @book.name %></h1>
<a href="<%= book_path(@book) %>" class="btn btn-info">Back to <%= @book.name %></a>
<br />
<a href="<%= new_book_layer_path(@book) %>" class="btn-special">New Layer</a>
<br />
<br />
<table>
	<thead>
    <tr>
      <th>IID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @layers.each do |layer| %>
      <tr>
        <td>
          <%= layer.iid %>
        </td>
        <td>
          <%= layer.name %>
        </td>
        <td>
          <a href="<%= book_layer_path(@book, layer) %>" class="btn btn-info">VIEW</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>