<h1><%= @layer.name %></h1>
<br />
<a href="<%= book_layers_path(@book) %>" class="btn-default">Back to LAYERS</a>
<br />
<dl>
  <dt>IID</dt>
  <dd><%= @layer.iid %></dd>
</dl>
<dl>
  <dt>PAGE</dt>
  <dd>
    <% if @layer.page.present? %>
      <a href="<%= book_book_page_path(@book,@layer.page) %>" class="btn-default"><%= @layer.page.name %></a>
    <% else %>
      (none)
    <% end %>
  </dd>
</dl>
<dl>
  <dt>CONTROLS</dt>
  <dd><%= @layer.get_control_name %></dd>
</dl>
<dl>
  <dt>DISPLAY</dt>
  <dd><%= @layer.display ? 'Yes' : 'No' %></dd>
</dl>
<dl>
  <dt>CURRENT</dt>
  <dd><%= @layer.current %></dd>
</dl>
<br />
<a href="<%= edit_book_layer_path(@layer, book_id: @book.id) %>" class="btn-special">EDIT</a>
<%= link_to 'DELETE', book_layer_path(@layer, book_id: @book.id),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn-danger" %>
<br />
<a href="<%= book_layer_layer_pages_path(@book,@layer) %>" class="btn-default">LAYER PAGES</a>
