<%= form_for(@layer_page, url: book_layer_layer_page_path(@book, @layer, @layer_page), html: { method: :put }) do |f| %>
  <%= f.label 'Name' %><br>
  <%= f.text_field :name %><br>

  <%= f.label 'Source' %><br>
  <%= f.text_area :src %><br>

  <%= f.label 'Order' %><br>
  <%= f.text_area :order %><br>

  <%= f.label 'Z-Index' %><br>
  <%= f.text_area :z_index %><br>

  <%= f.submit "SUBMIT", :class => 'btn-special' %>
<% end %>
<br />
<a href="<%= book_layer_layer_page_path(@book, @layer, @layer_page) %>" class="btn btn-info">CANCEL</a>
