<!DOCTYPE html>
<html>
  <head>
    <title>Paper Doll Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "HOME", root_path, class: "btn-special" %>
    </header>
    <%= yield %>
  </body>
</html>
